body{
    background-color: #6C8480
}

.title{
    background-color: #404E3B;
    color: white;
    text-align: center;
    padding: 25px;
    margin: 0px;
    font-size: 40px;
}
.title.subtitle{
    font-size: 25px;
}
.home-link{
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #404E3B;
    margin: 0px;
}

.homepage{
    margin-top: 0px;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 30px;
}

#instructions{
    text-align: center;
    font-size: large;
    margin-bottom: 25px;
}

.recipe-card{
    background: #BAC8B1;
    text-align: left;
    padding: 20px;
    font-size: 25px;
    margin: 10px;
} 

.recipe-instructions{
    background-color: #BAC8B1;
    /* color: white; */
    padding: 10px;
    margin: 15px;
}

.recipe-image{
    display: block;
    margin: auto;
    width: 50%;
}

.lists{
    font-size: 20px;
}